<div class="presentacion-container">
  <div class="header">
    <img src="/Logo.png" alt="Logo" class="logo">
  </div>

  <div class="contenido">
    <h2>Bienvenidos</h2>
    <p>
      A continuación, te solicitaremos información necesaria para la admisión al programa académico que has seleccionado.
    </p>
    <p>
      Te informamos que los datos personales que proporciones, están protegidos ante el Instituto Federal de Acceso a la Información y Protección de Datos.
    </p>
    <p>
      Una vez finalizado el formulario de admisión, te enviaremos un correo electrónico en un plazo no mayor a 2 días hábiles con todas las indicaciones para completar tu inscripción.
    </p>

    <button class="btn btn-primary" (click)="continuarRegistro()">
      Continuar Registro
    </button>
  </div>
  <footer></footer>
</div>


